html,
button {
  line-height: 1.75;
  font-size: 1.25rem;
  color: rgb(0, 0, 0);
  /* color: #000000; */
  scroll-behavior: smooth;
}
@font-face {
  font-family: 'Metropolis';
  src: url('/font/Metropolis-Regular.otf') format('otf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
body {
  margin: auto;
  font-family: 'Metropolis', sans-serif;
  overflow-x: hidden;
  background-color: rgb(255, 255, 255);
}
button {
  font-size: 1.25rem;
}
.nav-wrapper {
  display: flex;
  gap: 1em;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  top: 0;
  width: 100%;
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding: 40px;
}

img {
  padding-left: 80px;
  max-width: auto;
  height: 100px;
}

.name {
  width: 50%;
  font-size: 2rem;
  text-align: center;
}
.nav {
  gap: 1em;
  padding-right: 90px;
  width: 50%;
  display: flex;
  justify-content: space-around;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline rgb(0, 0, 0) 5px;
  text-underline-offset: 10px;
  cursor: pointer;
}
