html,
button {
  line-height: 1.75;
  font-size: 1.25rem;
  color: rgb(0, 0, 0);
  /* color: #000000; */
  scroll-behavior: smooth;
}
@font-face {
  font-family: 'Metropolis';
  src: url('/font/Metropolis-Regular.otf') format('otf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
body {
  margin: auto;
  font-family: 'Metropolis', sans-serif;
  overflow-x: hidden;
  background-color: rgb(255, 255, 255);
}
button {
  font-size: 1.25rem;
}
.nav-wrapper {
  display: flex;
  gap: 1em;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  top: 0;
  width: 100%;
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding: 40px;
}
.services {
  margin: 0.5rem;
}
.service-img {
  max-width: auto;
  height: 100px;
}

.name {
  width: 50%;
  font-size: 2rem;
  text-align: center;
}
.nav {
  gap: 1em;
  padding-right: 90px;
  width: 30%;
  display: flex;
  justify-content: space-around;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline rgb(0, 0, 0) 5px;
  text-underline-offset: 10px;
  cursor: pointer;
}

.section-title,
title {
  font-weight: 600;
  font-size: 2.35rem;
}

/* services */
.title {
  text-align: center;
  line-height: 0.75rem;
}

.service-wrapper {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.service-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
  width: 30%;
}
/* pricing */
.pricing {
  margin: 0.5rem;
}
.pricing-title {
  font-weight: 600;
  font-size: 1.75rem;
}
li {
  display: flex;
}
.pricing-wrapper {
  text-align: center;
  display: flex;
  align-items: baseline;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.pricing-container {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 0.5rem;
  padding: 2rem;
  text-align: left;
  background-color: rgb(220, 219, 219);
  border-radius: 1.5rem;
}
.monthly {
  background-color: black;
  color: white;
}

.monthly button {
  background-color: white;
  color: black;
}
.monthly .pricing-img {
  filter: contrast(0%);
}
.pricing-img {
  width: 1.25rem;
  height: auto;
  padding-right: 0.2rem;
}
.not-included {
  color: rgb(128, 128, 128);
}
.price {
  display: flex;
  font-weight: bolder;
  align-items: baseline;
  font-size: 2.75rem;
}
.hosting-add {
  font-weight: normal;
  color: rgb(128, 128, 128);
  font-size: 0.75rem;
}

button {
  padding: 0.5rem 2rem;
  background: rgb(0, 0, 0);
  border-radius: 0.5rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
button:hover {
  background-color: rgb(128, 128, 128);
}
